@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: hsl(222, 26%, 31%);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  h1 {
    color: #fff;
  }

  div {
    display: flex;
    text-align: center;

    .radio {
      display: flex;
      flex-direction: column;
    }
  }
}

.main {
  background-color: hsl(223, 31%, 20%);
  width: 250px;
  height: 50px;
  text-align: center;
}

.card {
  margin-top: 10px;
  width: 250px;
  height: 300px;
  padding: 10px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: hsl(223, 31%, 20%);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  .btnReset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .btn{
      // width: 100%;
      // display: grid;
    }
}
}