@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: hsl(222, 26%, 31%);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;

  h1 {
    color: #fff;
  }

  div {
    display: flex;
    text-align: center;

    .radio {
      display: flex;
      flex-direction: column;
    }
  }
}

.main {
  background-color: hsl(223, 31%, 20%);
  width: 300px;
  height: 50px;
  text-align: center;
}

.card {
  margin-top: 10px;
  width: 300px;
  height: 250px;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  background-color: hsl(223, 31%, 20%);
  // grid-template-rows: repeat(4, 1fr);

  .btn{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1 );
    // width: 50px;
  }
  .deff {
  // display: grid;
order: 5;
  // grid-column-start: 2;
}

}

// #enter {
// padding: 10px;
// }
// #reset{}